<!DOCTYPE html>

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="ipInput.css">
        <script src="ipInput.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Le WUP du Jour</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mon WUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Historique</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Escalade</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="EnseignePays">Enseigne-Pays</th>
                        <th scope="Code">Code Magasin</th>
                        <th scope="IPv4">IPv4</th>
                        <th scope="type">statut</th>
                        <th scope="action">Action Hotline</th>
                        <th scope="supprimer"></th>
                        <th scope="valider"></th>
                    </tr>
                    </thead>
                    <% todolist.forEach(function(todo, index) { %>
                    <tr class="table-info">
                        <td><%= todo.enseignepays %></td>
                        <td><%= todo.code %></td>
                        <td><%= todo.ip %></td>
                        <td></td>
                        <td> <select class="form-control">
                                <option>Reboot Equipement</option>
                                <option>Résolution Niv 1</option>
                                <option>Résolution Niv 2</option>
                                <option>Escalade support </option>
                                <option>Escalade Interne</option>
                            </select>
                        </td>
                        <td><a class="btn btn-info" href="/wup/update/<%= index %>">Valider</a></td>
                        <td><a class="btn btn-info" href="/wup/delete/<%= index %>">Supprimer</a></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <form action="/wup/add/" method="post">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="EnseignePays">Enseigne-Pays</label>
                            <select class="form-control">
                                <option>PAUL-FR</option>
                                <option>PAUL-IN</option>
                                <option>LAD-FR</option>
                                <option>LAD-IN</option>
                                <option>PANAPRO</option>
                                <option>HOLDER</option>
                            </select>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label for="Code">Code</label>
                            <input type="text" class="form-control is-valid" id="Code" placeholder="Last name" value="999" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="ip">Ip équipement</label>
                            <input type="text" class="form-control is-invalid" id="ip" placeholder="172.0.0.0" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="type">Type d'équipement</label>
                            <select class="form-control">
                                <option>Imprimante</option>
                                <option>Caisse</option>
                                <option>Switch</option>
                                <option>TPE</option>
                                <option>Routeur</option>
                                <option>PLV</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-3">
                            <label for="action">Action</label>
                            <input type="text" class="form-control" id="type" placeholder="Action Hotline">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    </body>
</html>